body{
    background-color: #FCFCFC;
    min-height: 99vh;
}

*{
    color:#363635;
}

.responsive-image{
    max-width: 100%;
}

.logo{
    max-height: 20rem;
    margin-top:18px;
    margin-bottom:18px;
}

.info p{
    margin-bottom:2px;
}

.info{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
}

.main-content{
    margin-top:35px;
    text-align:center;
}

.header{
    display:flex;
    justify-content: center;
}

.vertical-center
{
    display:flex;
    min-height: 99vh;
    justify-content: center;
    flex-direction: column;
}