body{
    background-color: #FCFCFC;
}

*{
    color:#363635;
}

.responsive-image{
    max-width: 100%;
}

.logo{
    max-height: 10rem;
    margin:10px;
}

.info{
    margin-top:35px;
}

.info p{
    margin-bottom:2px;
}